	.pixels_battleFlow
	{
		background-image: url(../_img/battleNavSprite_1x.png);
		background-repeat: no-repeat;
		background-size: 371px 400px;				
	}
	
	.pixels_birdOpt
	{
		background-image: url(../_img/birdOpt_1x.png);
		background-repeat: no-repeat;
		/* background-size: 252px 136px; */
	}
	
	
	#battle-nav-playerBird
 	{
	 	position: absolute;
	 		 	
	 	top:0; bottom: 0; left: 0; right: 0;
	 		 	
	 	margin: 0 auto;
 	}
 	
 	.battleCute-bird-battleMode
 	{
	 	width: 126px;
	 	height: 71px;
	 		 	
	 	position: absolute;	 		 	
 	}
 	
 	.battleCute-bird
 	{
	 	width: 126px;
	 	height: 71px;
	 		 	
	 	position: absolute;
 	}
 	
  	.battleCute-bird-body
 	{
	 	width: 126px;
	 		 	
	 	z-index: 1;
 	}
 	
  	.tween-battleCute-bird-body
 	{
	 	-webkit-animation	: tweenBattleCuteBirdBodyFrames 0.4s ease-in-out infinite;
	 	animation			: tweenBattleCuteBirdBodyFrames 0.4s ease-in-out infinite;
 	}
 		 	
 	@-webkit-keyframes tweenBattleCuteBirdBodyFrames
 	{
	 	0%		{ -webkit-transform: translateY(0px); }
	 	50%		{ -webkit-transform: translateY(-4px); }
	 	100%	{ -webkit-transform: translateY(0px); }
 	}
 		 	
 	@keyframes tweenBattleCuteBirdBodyFrames
 	{
	 	0%		{ transform: translateY(0px); }
	 	50%		{ transform: translateY(-4px); }
	 	100%	{ transform: translateY(0px); }
 	}
 	
 	.battleCute-bird-head
 	{
	 	width: 126px;
	 	height: 68px;
	 		 	
	 	background-position: 0px 0px;
	 		 	
	 	position: absolute;
	 		 	
	 	top: 9px;
/*
	 	right: 0;
	 	bottom: 0;
*/
	 	left: 0;
	 		 	
	 	/* margin: 9px auto 0 auto; */
	 	
	 	z-index: 0;
 	} 	
 	
/*
 	.battleCute-bird-head .battleCute-eyes
 	{
	 	-webkit-transform	: translate(4px, 7px);
	 	transform			: translate(4px, 7px);
 	}
*/
 	
 	.battleCute-eyes
 	{
	 	width: 126px;
	 	height: 68px;
	 		 	
	 	position: absolute;
	 	
	 	top: 0;
	 	left: 0;
	 	
	 	z-index: 0;
	 		 	
/*
	 	-webkit-transform	: translate(10px, 18px);
	 	transform			: translate(10px, 18px);
*/
 	}
 	
  	.battleCuteBird-eyes-sprite
 	{
	 	width: 126px;
	 	height: 68px;
 	}
 		 	
 	.battleCuteBird-eyes-norm
 	{
	 	background-position: -126px -68px;
 	}
 		 	
 	.battleCuteBird-eyes-happy
 	{
	 	background-position: -126px 0px;
 	}
 	
  	.battleCute-eyes .battleCuteBird-eyes-sprite
 	{
	 	-webkit-transition	: -webkit-transform 0.2s ease;
	 	transition			: transform 0.2s ease;
 	}
 		 	
 	.battleCuteBird-eyes-look-C
 	{
	 	-webkit-transform	: translateX(0px);
	 	transform			: translateX(0px);	
 	}
 		 	
 	.battleCuteBird-eyes-look-L
 	{
	 	-webkit-transform	: translateX(-1px);
	 	transform			: translateX(-1px);		 		 	
 	}
 		 	
 	.battleCuteBird-eyes-look-R
 	{
	 	-webkit-transform	: translateX(1px);
	 	transform			: translateX(1px);	 		 	
 	}
 	
 	.battleCute-bird-arm 
 	{
	 	width: 53px;
	 	height: 36px;
	 		 	
	 	position: absolute;
 	}
 	
  	.battleCute-bird-arm-left
 	{
	 		 	
 	}
 	
 	.battleCute-bird-arm-right
 	{
	 	-webkit-transform	: scaleX(-1) translateX(-73px);
	 	transform			: scaleX(-1) translateX(-73px);
 	}
 	
  	.battleCute-bird-arm-main
 	{
	 	width: inherit;
	 	height: inherit;
	 		 	
	 	background-position: 0px -173px;
	 		 	
	 	-webkit-transform-origin	: 52px 21px;
	 	transform-origin			: 52px 21px;
 	}
 	
  	.tween-battleCute-bird-arm-main
 	{
	 	-webkit-animation	: tweenBattleCuteBirdArmMainFrames 0.4s ease-in-out infinite;
	 	animation			: tweenBattleCuteBirdArmMainFrames 0.4s ease-in-out infinite;
 	}
 		 	
 	@-webkit-keyframes tweenBattleCuteBirdArmMainFrames
 	{
	 	0%			{ -webkit-transform: rotate( 30deg); }
	 	50%			{ -webkit-transform: rotate(-30deg); }
	 	100%		{ -webkit-transform: rotate(30deg); }
 	}
 		 	
 	@keyframes tweenBattleCuteBirdArmMainFrames
 	{
	 	0%			{ transform: rotate( 30deg); }
	 	50%			{ transform: rotate(-30deg); }
	 	100%		{ transform: rotate(30deg); }
 	}
 	
  	.tween-battleCute-bird-arm-main-fire
 	{
	 	-webkit-animation	: tweenBattleCuteBirdArmMainFireFrames 0.2s steps(5) infinite;
	 	animation			: tweenBattleCuteBirdArmMainFireFrames 0.2s steps(5) infinite;
 	}
 		 	
 	@-webkit-keyframes tweenBattleCuteBirdArmMainFireFrames
 	{
	 	from	{ background-position: -53px -173px; }
	 	to		{ background-position: -318px -173px; }
 	}
 		 	
 	@keyframes tweenBattleCuteBirdArmMainFireFrames
 	{
	 	from	{ background-position: -53px -173px; }
	 	to		{ background-position: -318px -173px; }
 	}
 	
 	.tween-battleCute-bird-arm-main-intoFly
 	{
	 	-webkit-animation	: tweenBattleCuteBirdArmMainIntoFlyFrames 0.2s ease-out forwards;
	 	animation			: tweenBattleCuteBirdArmMainIntoFlyFrames 0.2s ease-out forwards;
 	}
 		 	
 	@-webkit-keyframes tweenBattleCuteBirdArmMainIntoFlyFrames
 	{
	 	from	{ -webkit-transform: rotate( 0deg); }
	 	to		{ -webkit-transform: rotate( 30deg); }
 	}
 		 	
 	@keyframes tweenBattleCuteBirdArmMainIntoFlyFrames
 	{
	 	from	{ transform: rotate( 0deg); }
	 	to		{ transform: rotate( 30deg); }
 	}
 	
 	.battleCute-bird-arm-inner
 	{
	 	width: inherit;
	 	height: inherit;
	 		 	
	 	background-position: 0px -173px;	 		 	
 	}
 	
 	.battleCute-bird-board
 	{
	 	width: 31px;
	 	height: 36px;
	 		 	
	 	background-position: 0px -137px;
 	}
 	
 	.tween-battleCute-bird-countDown
 	{
	 	-webkit-animation	: tweenBattleCuteBirdCountDownFrames 2s steps(3) forwards;
	 	animation			: tweenBattleCuteBirdCountDownFrames 2s steps(3) forwards;
 	}
 		 	
 	@-webkit-keyframes tweenBattleCuteBirdCountDownFrames
 	{
	 	from	{ background-position: 0px -137px; }
	 	to		{ background-position: -93px -137px; }
 	}
 		 	
 	@keyframes tweenBattleCuteBirdCountDownFrames
 	{
	 	from	{ background-position: 0px -137px; }
	 	to		{ background-position: -93px -137px; }
 	}
 	
 	.tween-battleCute-bird-arm-main-fire
 	{
	 	-webkit-animation	: tweenBattleCuteBirdArmMainFireFrames 0.2s steps(5) infinite;
	 	animation			: tweenBattleCuteBirdArmMainFireFrames 0.2s steps(5) infinite;
 	}
 		 	
 	@-webkit-keyframes tweenBattleCuteBirdArmMainFireFrames
 	{
	 	from	{ background-position: -53px -173px; }
	 	to		{ background-position: -318px -173px; }
 	}
 		 	
 	@keyframes tweenBattleCuteBirdArmMainFireFrames
 	{
	 	from	{ background-position: -53px -173px; }
	 	to		{ background-position: -318px -173px; }
 	}
 	
 	.battleCute-bird-legs
 	{
	 	width: 126px;
	 	height: 68px;
	 		 	
	 	background-position: 0px -68px;
	 		 	
	 	position: absolute;
	 		 	
	 	top: 0;
/*
	 	right: 0;
	 	bottom: 0;
*/
	 	left: 0;
	 		 	
	 	/* margin: 23px auto 0 auto; */
	 		 	
	 	z-index: 0;
	 		 	
 	}
 	
 	.tween-bird-flapAway
 	{
/*
	 	-webkit-animation	: tweenBirdFlapAwayFrames 2.5s linear forwards;
	 	animation			: tweenBirdFlapAwayFrames 2.5s linear forwards;
*/

	 	-webkit-animation	: tweenBirdFlapAwayFrames 1.4s linear forwards;
	 	animation			: tweenBirdFlapAwayFrames 1.4s linear forwards;
 	}
 		 	
 	@-webkit-keyframes tweenBirdFlapAwayFrames
 	{
	 	from	{ -webkit-transform: translateY(0px); }
	 	to		{ -webkit-transform: translateY(-211px); }
 	}
 		 	
 	@keyframes tweenBirdFlapAwayFrames
 	{
	 	from	{ transform: translateY(0px); }
	 	to		{ transform: translateY(-211px); }
 	} 	